@import "base.css";

html {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

.section + .section {
  margin-top: 140px;
}

.nav_primary {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.nav_primary .nav__link {
  color: black;
  padding: 8px;
  margin: 0 8px;
}

.nav_primary .nav__link:hover,
.nav_primary .nav__link:focus {
  text-decoration: underline;
}
.burger{
  display: none;
}

.header {
  padding: 16px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 63px;
  height: 52px;
}

.logo__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.burger__menu{
  display: none;
}

.heading {
  margin-bottom: 20px;
}

.heading__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button_primary_filter{
  display: none;
}

.price {
  display: flex;
  margin: -8px;
}

.price > * {
  margin: 8px;
}

.price__from,
.price__to {
  width: 100px;
}

.layout_products > :nth-child(1) {
  width: 300px;
}
.layout_products > :nth-child(2) {
  width: calc(100% - 300px);
}

.grid_products > * {
  width: 33.33%;
}

.card_product {
  overflow: hidden;
}

.card_product .card__media {
  margin: -1px;
  height: 185px;
}

.card_product .card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_product .card__title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 12px;
}

.card_product .card__actions {
  margin-top: 15px;
}

.card_product .card__param {
  font-size: 14px;
  margin-bottom: 8px;
}

.card_product .card__feature > * {
  margin-left: 5px;
  font-size: 1.2em;
}

.card_product .card__feature a {
  color: black;
  text-decoration: none;
}

.button_primary {
  background-color: #ff7236;
  color: #fff;
  border-radius: 25px;
  height: 50px;
  padding: 20px 30px;
  padding-right: 55px;
}

.button_primary::after {
  content: "";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  color: #ff7236;
  position: absolute;
  right: 8px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff7236' width='37' height='32'%3E%3Cpath d='M29.201 11.844c-4.977 2.855-4.13 11.187 1.269 11.187 2.329 0 4.344-1.751 5.241-3.988 2.072-5.169-2.237-9.65-6.51-7.199zM24.088 12.876c5.972 0 7.76-10.141 2.086-11.808-2.585-.759-5.524 1.063-6.468 4.393-1.059 3.733 1.025 7.415 4.382 7.415z'/%3E%3Cpath d='M22.552 30.927c-.829-.229-2.301-.377-3.842-.398-1.629-.024-3.334.093-4.437.398-2.98.83-7.034-1.178-6.145-5.349.823-3.856 3.779-3.636 4.478-7.29.704-3.693 3.442-5.475 6.103-5.336 2.463.129 4.86 1.905 5.513 5.337.695 3.657 3.645 3.435 4.467 7.289.893 4.174-3.17 6.172-6.138 5.349zM13.577 12.876c1.689 0 3.14-.981 3.946-2.483 2.396-4.465-1.539-10.646-6.033-9.322-5.683 1.672-3.882 11.805 2.087 11.805z'/%3E%3Cpath d='M10.878 19.711c1.918-4.692-2.628-10.423-6.969-8.619C-1.32 13.264.986 22.631 6.736 22.631c1.845 0 3.413-1.136 4.142-2.919zM22.552 30.927c-.829-.229-2.301-.377-3.842-.398V12.952c2.463.129 4.86 1.905 5.513 5.337.695 3.657 3.645 3.435 4.467 7.289.893 4.174-3.17 6.171-6.138 5.349z'/%3E%3C/svg%3E");
}

.button_primary:hover,
.button_primary:focus,
.button_primary:active {
  background-color: #e8500f;
}

.button_primary.button_inverse {
  background-color: #fff;
  color: #1a212f;
}

.button_primary.button_inverse::after {
  background-color: #ff7236;
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='37' height='32'%3E%3Cpath d='M29.201 11.844c-4.977 2.855-4.13 11.187 1.269 11.187 2.329 0 4.344-1.751 5.241-3.988 2.072-5.169-2.237-9.65-6.51-7.199zM24.088 12.876c5.972 0 7.76-10.141 2.086-11.808-2.585-.759-5.524 1.063-6.468 4.393-1.059 3.733 1.025 7.415 4.382 7.415z'/%3E%3Cpath d='M22.552 30.927c-.829-.229-2.301-.377-3.842-.398-1.629-.024-3.334.093-4.437.398-2.98.83-7.034-1.178-6.145-5.349.823-3.856 3.779-3.636 4.478-7.29.704-3.693 3.442-5.475 6.103-5.336 2.463.129 4.86 1.905 5.513 5.337.695 3.657 3.645 3.435 4.467 7.289.893 4.174-3.17 6.172-6.138 5.349zM13.577 12.876c1.689 0 3.14-.981 3.946-2.483 2.396-4.465-1.539-10.646-6.033-9.322-5.683 1.672-3.882 11.805 2.087 11.805z'/%3E%3Cpath d='M10.878 19.711c1.918-4.692-2.628-10.423-6.969-8.619C-1.32 13.264.986 22.631 6.736 22.631c1.845 0 3.413-1.136 4.142-2.919zM22.552 30.927c-.829-.229-2.301-.377-3.842-.398V12.952c2.463.129 4.86 1.905 5.513 5.337.695 3.657 3.645 3.435 4.467 7.289.893 4.174-3.17 6.171-6.138 5.349z'/%3E%3C/svg%3E");
}

.button_secondary {
  background: #fac663;
  border: 2px solid #fac663;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  color: #1a212f;
  padding: 15px 30px;
}

.button_secondary:hover,
.button_secondary:focus,
.button_secondary:active {
  background-color: transparent;
}

.button_tertiary {
  background: transparent;
  border: 2px solid #fac663;
  box-sizing: border-box;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  color: #1a212f;
  padding: 15px 30px;
}

.button_tertiary:hover,
.button_tertiary:focus,
.button_tertiary:active {
  background: #fac663;
}

.filter__label {
  display: block;
  margin-bottom: 8px;
}
.filter__item + .filter__item {
  margin-top: 32px;
}

.filter__actions {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.filter__actions > * + * {
  margin-top: 16px;
}

.banner {
  background-image: url(../images/banner.jpg);
  min-height: 380px;
  display: flex;
  align-items: center;
  padding: 40px;
}

.banner__body {
  max-width: 600px;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

.banner__content {
  max-width: 350px;
}

.banner__title {
  font-size: 36px;
  line-height: 1;
  margin-bottom: 16px;
}
.banner__title-large {
  font-size: 56px;
}

.section_contacts {
  background-color: #fac663;
}

.contacts {
  display: flex;
  margin: 0 -40px;
}

.contacts > * {
  padding: 0 40px;
  flex-shrink: 0;
}

.contacts__body {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 30%;
}

.contacts__end {
  display: flex;
  width: calc(70% + 40px + (100vw - 100%) / 2);
}

.contacts__items > * + * {
  margin-top: 32px;
}

.contacts__label {
  font-weight: bold;
}

* + .contacts__text {
  margin-top: 8px;
}

.contacts__socials {
  margin: -6px;
}

.contacts__social {
  font-size: 22px;
  color: inherit;
  padding: 6px;
  display: inline-block;
}

.contacts__social:hover,
.contacts__social:focus,
.contacts__social:active {
  opacity: 0.8;
}

.map {
  flex-grow: 1;
}

.map__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom {
  border-top: 1px solid #efefef;
  color: #8f8f8f;
  font-size: 12px;
}
/*-----------popup-------------*/
.popup{
  position:fixed ;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.514);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup__body{
  max-width: 335px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
}
.popup__content{
  background-color: #fff;
  color: #000;
  padding: 10px;
  position: relative;
}
.popup__close{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.offcanvas {
  background-color: #fac663;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.offcanvas:not(.is-open) {
  display: none;
}

.offcanvas__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offcanvas__nav > * {
  display: block;
}

@media screen and (max-width: 768px) {

  .heading__container {
    /*display: block;*/
    justify-content: space-between;
    align-items: center;
  }
  
  .layout_products > :nth-child(1) {
    display: none;
  }
  .layout_products > :nth-child(2) {
    width: 100%;
  }
  .grid_products > * {
    width: 50%;
  }
  
  .banner {
    background-image: url(../images/banner.jpg);
    background-position: 70% 50%;
    min-height: 380px;
    display: flex;
    align-items: flex-end;
    padding: 40px;
    border-radius: 10px;
  }

  .contacts__body {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 40%;
  }

  .button_primary_filter{
    display: inline-flex;
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    height: 35px;
    padding: 8px;
    border: 1px solid;
    position: absolute;
    /*text-decoration: none;*/
  }
  .heading__end__form{
    display: flex;
    align-items: center;
  }
  .opshion{
    margin-left: 100px;
  }

}
@media screen and (max-width: 320px) {
  .heading__container {
    display: block;
  }
  .layout_products > :nth-child(1) {
    display: none;
  }
  .layout_products > :nth-child(2) {
    width: 100%;
  }
  .grid_products > * {
    width: 100%;
  }
  .burger__menu{
    display: flex;
  }
  /*.logo1 {
    display: block;
    width: 46px;
    height: 38px;
  }
  
  .logo__image1 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }*/
  .banner {
    background-image: url(../images/banner2.jpg);
    /*background-position: 70% 50%;
    min-height: 380px;*/
    display: flex;
    padding: 20px;
    align-items: flex-start;
  }
  .banner__title{
    font-size: 24px;
  }
  .banner__title-large{
    font-size: 37px;
  }
  .banner__description{
    font-size: 15px;
  }

  .contacts__body {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 40%;
  }
  .opshion{
    margin-left: auto;
  }
  .nav{
    display: none;
  }
  .burger{
    display: inline-block ;
  }
  .contacts__end{
    display: none;
  }
  .container{
    padding-left: 0px;
    padding-right: 0px;
  }
  .contacts{
    display: flex;
    margin: 0px;
    padding: 0px;
  }
  .contacts__body{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
}